<!DOCTYPE html>
<html>
  <head>
    <title>CompareMEX | Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <% include links %>

    <div>
      <canvas id="steamMEX"></canvas>
    </div>

    <p style="padding-left: 50px; padding-right: 50px; font-size: 10px;">SteamMEX ticker price generated using the weighted average of the prices of "AK-47 | Redline (Field-Tested)", "Spectrum 2 Case", "AWP | Asiimov (Field-Tested)", "AWP | Asiimov (Battle-Scarred)",
      "Glock-18 | Water Elemental (Minimal Wear)",  "Desert Eagle | Blaze (Factory New)", "Operation Broken Fang Case",
      "★ StatTrak™ Karambit | Doppler (Factory New)", "AWP | Pit Viper (Field-Tested)", "Glock-18 | Candy Apple (Minimal Wear)",
      "Five-SeveN | Monkey Business (Field-Tested)", "★ M9 Bayonet | Doppler (Factory New)", and "★ M9 Bayonet" from June 01 2021 to July 25 2021.</p> 
    
    <script type="text/javascript" src="/javascripts/chartData.js"></script>
  </body>
</html>
