/*-------HEADER--------*/
h1 {
  color: #FFF;
  font-size: 40px;
  display: inline;
}

h2 {
  display: inline;
  padding-left: 40px;
}

#divSiteHeader {
  background-color: #000;
  padding: 10px;
  top: 0px;
  overflow: hidden;
  min-width: 500px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

/*---------BODY--------*/
body {
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ededed;
}


p {
  color: #2d2c38;
}


/*---------COLLAPSIBLES--------*/

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 0 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #303030;
}

button {
  margin-right: 20px;
}